.header-component {
    @headerHeight: 48px;
    height: @headerHeight;
    line-height: @headerHeight;
  .trigger {
    padding: 0 20px;
    font-size: 18px;
    line-height: @headerHeight;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }
}
